@page "/kalender"
@using MercuriusAalstWebsite.Models;

<PageTitle>Mercurius Aalst - Kalender</PageTitle>

<Banner Title="Kalender" />

<TitledSection Title="Komende activiteiten">
	<div class="event-div pt-4" style="padding-bottom: 4rem;">
		@foreach (Activiteit ev in activiteiten.Where(a => a.Start > DateTime.Now))
		{
			<Event EventIndex="ev" />
		}
	</div>
</TitledSection>

@code {
	private Activiteit[] activiteiten ={
		new Activiteit("Biermeester", "De Zeppelin", new DateTime(2023, 3, 3, 20, 0, 0), true, "", ""),
		new Activiteit("Krambambouli Cantus", "Onthaalcomplex", new DateTime(2023, 3, 10, 20, 0, 0), true, "", "https://www.facebook.com/events/471571841740446"),
		new Activiteit("LAN-Party", "", new DateTime(2023, 3, 24, 18, 0, 0), false, "https://imgur.com/VhZl3nK", "https://www.facebook.com/events/6072428239455185"),
		new Activiteit("Clubweekend", "Chiro SAS, Stekene", new DateTime(2023, 4, 7, 18, 30, 0), false, "", "https://www.facebook.com/events/807122720402977"),
		new Activiteit("Karaoke & Cocktail Clubavond", "", new DateTime(2023, 4, 21, 20, 0, 0), false, "", "https://www.facebook.com/events/467361968598198"),
		new Activiteit("Vriendjes & Familie Cantus", "", new DateTime(2023, 4, 29, 20, 0, 0), false, "", "https://www.facebook.com/events/889324228771764"),
		new Activiteit("Reis Rond de Wereld Cantus", "", new DateTime(2023, 5, 5, 20, 0, 0), false, "", "https://www.facebook.com/events/650839399816914"),
		// new Activiteit("Praesesverkiezing", "", new DateTime(2023, 5, 6), false, "", ""),
		// new Activiteit("Gala der Gouden Kastanjes", "", new DateTime(2023, 7, 1), false, "", ""),
		// new Activiteit("", "", new DateTime(), false, "", ""),
	};
}
